#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N2  &kp N3  &kp N3  &kp N3  &kp N3  &kp N3  &kp N1  &kp N2  &kp F  &kp F  &kp F  &kp F  &kp F  &kp N1  &kp N2  &kp F  &kp F  &kp F  &kp F  &kp F  &kp N1  &kp N2  &kp F  &kp F  &kp F  &kp F  &kp F  &kp N1  &kp N2  &kp N4  &kp N4  &kp N4  &kp N4  &kp N4  &kp N1  &kp N2  &kp N3  &kp N3  &kp N3  &kp N3  &kp N3  &kp N1  &kp N2  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp N1  &kp N2  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp N1  &kp N2  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp N1  &kp N2  &kp N4  &kp N4  &kp N4  &kp N4  &kp N4  &kp N1
            >;
        };
    };
};
